body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Navigation
  |============================
*/
.cont-header {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}
.logo {
  display: inline-flex;
  width: 66px;
}
.navigation {
  margin-left: auto;
}

.nav-list {
  display: flex;
  gap: 28px;
}

.nav-list-item {
}

.nav-link {
  font-weight: 700;
  color: inherit;
}

.active {
  color: #bbf330;
  text-decoration: underline;
}

.nav-button {
  font-family: inherit;
  border-radius: 30px;
  background: var(--Button-green, #bbf330);
  border: none;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 18px;
  margin-left: 30px;
}
/**
  |============================
  | 
  |============================
*/

/**
  |============================
  | Hero-section
  |============================
*/

.hero {
  background: #fefefe;
}
.hero-container {
  display: flex;
  column-gap: 129px;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
}
.hero-menu-cont {
position: relative;
}
.border-cont {
  border-radius: 580px;
border: 26px solid var(--Yellow-main, #FFE550);
background: var(--White, #FEFEFE);
}
.hero-title {
  width: 502px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 28px;
}
.hero-text {
  width: 511px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
}

.menu-btn {
  width: 48px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEFEFE;
  border-color: transparent;
  border-radius: 8px;
  position: absolute;
  padding: 0;
}
.prev-btn {
  top: 50%;
  left: -14px;
  transform: translateY(-24px);
}

.prev-icon {
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}

.next-btn {
  bottom: 50%;
  right: -14px;
  transform: translateY(24px);
}
.next-icon {

}

.img-food {
  border: 26px solid #ffe550;
  border-radius: 50%;
}
.nav-btn {
  font-family: inherit;
  border-radius: 30px;
  background: var(--Button-green, #bbf330);
  border: none;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 18px;
}
/*
  |============================
  | Offers section
  |============================
*/
.offers {
  background: #FFE550;
}
.offers-container {
  display: flex;
 align-items: flex-end;
}

.offers-img {
  display: flex;
  flex-shrink: 0;
width: 550px;
max- height: 550px;
margin-right: 90px;
border-radius: 550px;
 margin-bottom: 43px;
}

.offers-text {
  max-width: 573px;
}
.offers-title {
  max-width: 526px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.offers-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 500px;
  margin-bottom: 48px;
}
.favorites-icon {
    margin-bottom: 8px;
}

.offers-list {
  display: flex;
  gap: 67px;
  margin-bottom: 42px;
}

.offers-item {
  width: calc((100% - 67px) / 2);
}

.offers-item-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.offers-item-descr {
  font-weight: 400;
  line-height: 1.5;
}

.offers-button {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 30px;
  border: 2px solid #7eb101;
  background: #fff;
  display: inline-flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  margin-bottom: 79px;
}

/*
  |============================
  | Favorites section
  |============================
*/

.favorites {
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.favorites-container {
   
}
.favorites-title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.favorites-descr {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;

}

.favorites-item {
    width: calc((100% - 64px) / 3);
}
.favorites-border {
    width: 395px;
    height: 397px;
    border-radius: 197.5px;
    border: 16px solid #FFE550;
    background:#FEFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 41px 40px;
}
.favorites-img {}
/* +++++ Comments +++++ */


.comments {
}
.comm-container {
}
.comments-title {
  font-size: 42px;
}
.coment-text {
  font-size: 16px;
  margin-bottom: 32px;
  margin-top: 20px;
}
.comm-link {
  display: flex;
  gap: 167px;
  margin-bottom: 180px;
}
.comm-list {
  width: 473px;
  padding-left: 15px;
}
.customer-title {
  font-size: 18px;
  line-height: normal;
  margin-top: 28px;
  margin-bottom: 42px;
}
.name-text {
  font-weight: 500;
}

/*
  |============================
  | Subscribe section
  |============================
*/

.subscribe-section {
}

.subscribe-container {
  display: flex;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17px;
  padding-right: 16px;
}

.subscribe-title {
  font-family: Roboto;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.subscribe-uppertitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
.mail-form {
  display: flex;
  gap: 32px;
}

.subscribe-mail-input {
  display: inline-flex;
  border-radius: 30px;
  width: 395px;
  height: 42px;
  padding: 12px 57px 12px 12px;
  border: 0.854px solid #ffe550;
  background-color: #fefefe;
}
.subscribe-mail-btn {
  display: inline-flex;
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  padding: 11px 22px;
  border-radius: 30px;
  background-color: #bbf330;
  border-style: none;
  cursor: pointer;
}
.subscribe-img {
  width: 608px;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(94, 99, 99, 0.7);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-open {
  opacity: 1;
}

.modal {
  position: absolute;
  padding: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 458px;
  border-radius: 30px;
  background: #ffe550;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

.modal-icon {
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  padding: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-modal {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.input-iteam:not(:last-child) {
  margin-bottom: 24px;
}

.label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 2px;
}

.input-modal {
  height: 48px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  padding-left: 12px;
  align-items: center;
}

.input-modal::placeholder {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.send {
  margin: 0 auto;
  margin-top: 32px;
  padding: 10px 38px;
  border-radius: 30px;
  border: 2px solid #7eb101;
  background: #fff;
  color: #2c2c2c;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  display: block;
}
