body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #2C2C2C
}
h1, h2, h3, h4, p   {
margin-top: 0;
margin-bottom: 0;
}
ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}
img{
    display: block;
}
.container{
    width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
}

/**
  |============================
  | Navigation
  |============================
*/
.cont-header{
    display: flex;
    align-items: center;
}
.logo{
    display: inline-flex;
    width: 66px;

}
.navigation {
    margin-left: auto;
}

.nav-list {
    display: flex;
    gap: 28px;
}

.nav-list-item {
}

.nav-link {
    font-weight: 700;
    color: inherit;
}

.active {
color: #BBF330;
text-decoration: underline;
}



.nav-button {
    font-family: inherit;
border-radius: 30px;
background: var(--Button-green, #BBF330);
border: none;
font-size: 13px;
font-weight: 500;
margin-left: 30px;
padding: 6px 18px;
}

/**
  |============================
  | Hero section
  |============================
*/

.hero {
    background: #FEFEFE;
    max-width: 502px;
}
.hero-title {
font-size: 48px;
font-weight: 700;
line-height: 1.2;
}
.hero-text {
line-height: 1.5;
font-size: 16px;
}
.nav-button {
}

/**
  |============================
  | Offers section
  |============================
*/

.offers {
background: #FEFEFE;
}
.offers-container {
display: flex;
align-items: flex-end;

}
.offers-img {
display: flex;    
flex-shrink: 0;
max-height: 502px;
margin-right: 90px; 
border-radius: 550px;
border: 5px solid rgba(255, 255, 255, 0.50);
margin-bottom: 145px;
}
.offers-text {
max-width: 573px;

}
.offers-title {
max-width: 526px;
font-size: 42px;
font-weight: 700;
line-height: 1.2;
margin-bottom: 20px;
}

.offers-descr {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
max-width: 500px;
margin-bottom: 48px;

}

.offers-list {
display: flex;
gap: 67px;
margin-bottom: 42px;

}

.offers-item {
width: calc((100% - 67px) / 2);
}

.offers-item-name {
font-size: 18px;
font-weight: 700;
line-height: 1.4;
}

.offers-item-descr {
font-weight: 400;
line-height: 1.5; 
}

.offers-button {
font-size: 13px;
font-weight: 500;
line-height: 1.5;
border-radius: 30px;
border: 2px solid #7EB101;
background: #FFF;
display: inline-flex;
padding: 10px 22px;
justify-content: center;
align-items: center;
margin-bottom: 79px;
}

/**
  |============================
  | Subscribe section
  |============================
*/

.subscribe-section {
}

.subscribe-container {
    display: flex;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 17px;
    padding-right: 16px;
}

.subscribe-title {
    font-family: Roboto;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
.subscribe-uppertitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.mail-form {
    display: flex;
    gap: 32px;
}

.subscribe-mail-input {
    display: inline-flex;
    border-radius: 30px;
    width: 395px;
    height: 42px;
    padding: 12px 57px 12px 12px;
    border: 0.854px solid #FFE550;
    background-color: #FEFEFE;
}
.subscribe-mail-btn {
    display: inline-flex;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.50;
    padding: 11px 22px;
    border-radius: 30px;
    background-color: #BBF330;
    border-style: none;
    cursor: pointer;
}
.subscribe-img {
    width: 608px;
}